<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="excel">

    <delete id="deleteDataTable">
        delete
        from data
        where 1 == 1;
    </delete>

   <insert id="newDataTable" parameterType="excel">
       INSERT INTO data (insert_no,
                         component_code,
                         rev,
                         apply_1,
                         apply_2,
                         apply_3,
                         blueprint,
                         blueprintDate,
                         category,
                         name,
                         spec,
                         maker,
                         vendor,
                         unit_price,
                         mgmt_cost,
                         est_price,
                         note)
       VALUES (#{no},
               #{modelNo},
               #{rev},
               #{apply1},
               #{apply2},
               #{apply3},
               #{bluePrint},
               #{bluePrintDate},
               #{category},
               #{name},
               #{spec},
               #{maker},
               #{vendor},
               #{unitPrice},
               #{mgmtCost},
               #{estPrice},
               #{note})
   </insert>

</mapper>
