<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="filePath">

    <select id="selectPath" resultType="string">
        select file_path
        from file limit 1
    </select>

    <delete id="delInvalidPath">
        delete
        from file
        where 1 == 1
    </delete>

    <insert id="insertPath" parameterType="filePath">
        insert into file (file_path)
        values (#{filePath})
    </insert>

</mapper>
